
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
sqlite3==
numpy==2.0.0
packaging==24.1
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.4
simple-websocket==1.0.0
